<div class="container-xl mt-4">
  <div class="row">
    <h1>Releases</h1>
  </div>

  <div class="row">
    <form method="get" action="/releases?<%= query ? `q=${query}` : "" %>">
      <div class="mb-3">
        <input type="search" placeholder="Search releases..." name="q" class="form-control" value="<%= query %>">
      </div>
    </form>
  </div>

  <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
    <% releases.forEach((release)=> { %>
    <div class="col">
      <div class="card text-bg-dark">
        <a href="/releases/<%= release.id %>?type=<%= release.type %>"
          style="position: absolute; top: 8px; right: 8px; z-index: 2;" class="btn btn-primary"><i
            class="bi bi-info-circle-fill"></i></a>

        <img src="<%= release.coverUrl %>" class="card-img" style="aspect-ratio: 1 / 1;">
        <div class="card-img-overlay"
          style="display: flex; justify-content: end; flex-direction: column; background: linear-gradient(-180deg,transparent 20%,rgba(0,0,0,.7) 100%)">
          <div class="mb-2">
            <% if (release.releasedAt.getTime()> Date.now()) { %>
            <span class="badge text-bg-info">To be released</span>
            <% } %>
            <span class="badge text-bg-success">
              <%= release.type %>
            </span>
          </div>
          <h5 class="card-title"><strong>
              <%= release.name %> by <%= release.artistName %>
            </strong></h5>
          <p class="card-text">Released at <%= release.releasedAt.toLocaleString() %>
          </p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <div class="row">
    <div class="col">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item <%= page <= 0 ? " disabled" : "" %>"><a class="page-link"
              href="/releases?page=0<%= query ? `&q=${query}` : "" %>">Start</a></li>
          <li class="page-item <%= page <= 0 ? " disabled" : "" %>"><a class="page-link"
              href="/releases?page=<%= Math.max(page - 1, 0) %><%= query ? `&q=${query}` : "" %>">Previous</a></li>
          <li class="page-item <%= (page + 1) * limit >= total - 1 ? " disabled" : "" %>"><a class="page-link"
              href="/releases?page=<%= page + 1 %><%= query ? `&q=${query}` : "" %>">Next</a></li>
          <li class="page-item <%= (page + 1) * limit >= total - 1 ? " disabled" : "" %>"><a class="page-link"
              href="/releases?page=<%= Math.ceil(total / limit) - 1 %><%= query ? `&q=${query}` : "" %>">End</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
