<div class="container-xl mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="<%= release.coverUrl %>" alt="" class="img-fluid">
      <h1>
        <%= release.name %>
      </h1>
      <p class="lead">by <%= release.artistName %>
      </p>

      <% if (release.releasedAt.getTime()> Date.now()) { %>
      <span class="badge text-bg-info">To be released</span>
      <% } %>
      <span class="badge text-bg-success">
        <%= release.type %>
      </span>

      <p>Release date <%= release.releasedAt.toLocaleString() %>
      </p>

      <% if (typeof release.metadata?.previewUrl==="string" ) { %>
      <p>Preview</p>
      <audio src="<%= release.metadata.previewUrl %>" controls style="width: 100%;"></audio>
      <% } %>

      <p>Metadata:</p>
      <pre style="text-align: start;"><%= JSON.stringify(release.metadata, null, 2) %></pre>
    </div>
  </div>
</div>
