<div class="container-xl mt-4">
  <div class="row">
    <h1>Artists</h1>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <form method="get" action="/artists">
        <% if (page) { %>
        <input type="hidden" name="page" value="<%= page %>">
        <% } %>
        <div class="mb-3">
          <input type="search" class="form-control" name="remoteArtistQ" placeholder="Search artists to follow..."
            value="<%= remoteArtistQuery %>">
        </div>
      </form>
      <% if (remoteArtists.length> 0) { %>
      <hr>

      <% remoteArtists.forEach(remoteArtists=> { %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-4">
            <img src="<%= remoteArtists.image %>" class="img-fluid rounded-start">
          </div>
          <div class="col-8 d-flex flex-column">
            <div class="card-body" style="flex-grow: 1;">
              <h5 class="card-title">
                <%= remoteArtists.artistName %>
              </h5>
            </div>
            <div class="card-footer text-muted">
              <form action="/artists/subscribe" method="post">
                <input type="hidden" name="artistName" value="<%= remoteArtists.artistName %>">
                <input type="hidden" name="artistId" value="<%= remoteArtists.artistId %>">
                <input type="hidden" name="artistImage" value="<%= remoteArtists.image %>">
                <button type="submit" class="btn btn-primary"
                  <%- remoteArtists.isSubscribed ? "disabled" : "" %>>Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <% } %>
    </div>
    <div class="col-xl-8">
      <form method="get" action="/artists?<%= query ? `q=${query}` : "" %>">
        <div class="mb-3">
          <input type="search" placeholder="Search Artists..." name="q" class="form-control" value="<%= query %>">
        </div>
      </form>

      <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 mb-4">
        <% artists.forEach((artist)=> { %>
        <div class="col">
          <div class="card text-bg-dark" style="z-index: 1;">
            <form action="/artists/unsubscribe" method="post"
              style="position: absolute; top: 8px; right: 8px; z-index: 2;">
              <input type="hidden" name="id" value="<%= artist.id %>">
              <button type="submit" class="btn btn-danger"><i class="bi bi-person-dash-fill"></i></button>
            </form>

            <img src="<%= artist.imageUrl %>" class="card-img" style="aspect-ratio: 1 / 1;">
            <div class="card-img-overlay"
              style="display: flex; justify-content: end; flex-direction: column; background: linear-gradient(-180deg,transparent 20%,rgba(0,0,0,.7) 100%)">
              <h5 class="card-title"><strong>
                  <%= artist.name %>
                </strong></h5>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="col-12">
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item <%= page <= 0 ? " disabled" : "" %>"><a class="page-link"
                href="/artists?page=0<%= query ? `&q=${query}` : "" %>">Start</a>
            </li>
            <li class="page-item <%= page <= 0 ? " disabled" : "" %>"><a class="page-link"
                href="/artists?page=<%= Math.max(page - 1, 0) %><%= query ? `&q=${query}` : "" %>">Previous</a>
            </li>
            <li class="page-item <%= (page + 1) * limit >= total ? " disabled" : "" %>"><a class="page-link"
                href="/artists?page=<%= page + 1 %><%= query ? `&q=${query}` : "" %>">Next</a>
            </li>
            <li class="page-item <%= (page + 1) * limit >= total ? " disabled" : "" %>"><a class="page-link"
                href="/artists?page=<%= Math.ceil(total / limit) - 1 %><%= query ? `&q=${query}` : "" %>">End</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
